{{with .PDoc -}}
{{- if $.IsMain}}
> {{ base .ImportPath }}
{{comment_md .Doc}}
{{else -}}
# {{ .Name }}
[![Semaphore Unit Tests](https://knusbaum.semaphoreci.com/badges/today.svg)](https://knusbaum.semaphoreci.com/branches/29f4d916-1283-46fd-a311-81f74182a4c2)

`import "{{.ImportPath}}"`
* [Overview](#pkg-overview)
* [Index](#pkg-index){{if $.Examples}}
* [Examples](#pkg-examples){{- end}}{{if $.Dirs}}
* [Subdirectories](#pkg-subdirectories){{- end}}
## <a name="pkg-overview">Overview</a>
{{comment_md .Doc -}}
{{example_html $ "" -}}
## <a name="pkg-index">Index</a>
{{if .Consts -}}
* [Constants](#pkg-constants){{end}}{{if .Vars}}
* [Variables](#pkg-variables){{end}}{{range .Funcs -}}{{$name_html := html .Name}}
* [{{node_html $ .Decl false | sanitize}}](#{{$name_html}}){{- end}}{{- range .Types}}{{$tname_html := html .Name}}
* [type {{$tname_html}}](#{{$tname_html}}){{- range .Funcs}}{{$name_html := html .Name}}
  * [{{node_html $ .Decl false | sanitize}}](#{{$name_html}}){{- end}}{{- range .Methods}}{{$name_html := html .Name}}
  * [{{node_html $ .Decl false | sanitize}}](#{{$tname_html}}.{{$name_html}}){{- end}}{{- end}}{{- if $.Notes}}{{- range $marker, $item := $.Notes}}
* [{{noteTitle $marker | html}}s](#pkg-note-{{$marker}}){{end}}{{end}}
{{/* Examples */ -}}
{{with $.Examples}}#### <a name="pkg-examples">Examples</a>
{{range .}}* [{{example_name .Name}}](#example_{{.Name}})
{{end}}
{{end}}
{{- /* Package Files */ -}}
{{with .Filenames}}#### <a name="pkg-files">Package files</a>
{{range .}}[{{.|filename|html}}]({{.|srcfile_url|html}}) {{end}}
{{end}}
{{- /* Constants */}}
{{- with .Consts}}## <a name="pkg-constants">Constants</a>
{{range .}}{{node $ .Decl | goCode}}
{{comment_md .Doc}}{{- end}}{{end}}
{{- /* Variables */}}
{{- with .Vars}}## <a name="pkg-variables">Variables</a>
{{range .}}{{node $ .Decl | goCode}}
{{comment_md .Doc}}{{end}}
{{- end -}}
{{- /* Functions */ -}}
{{- range .Funcs}}{{$name_html := html .Name}}## <a name="{{$name_html}}">func</a> [{{$name_html}}]({{get_full_url $ .Decl}})
{{node $ .Decl | goCode}}
{{comment_md .Doc -}}
{{example_html $ .Name -}}
{{callgraph_html $ "" .Name}}
{{- end -}}
{{/* Types */ -}}
{{range .Types}}{{$tname := .Name}}{{$tname_html := html .Name}}## <a name="{{$tname_html}}">type</a> [{{$tname_html}}]({{get_full_url $ .Decl}})
{{node $ .Decl | goCode}}
{{comment_md .Doc -}}
{{- range .Consts}}{{node $ .Decl | goCode }}
{{comment_md .Doc}}{{- end -}} {{- /* EndConsts */ -}}
{{- range .Vars}}{{node $ .Decl | goCode }}
{{comment_md .Doc}}{{- end -}}{{- /* EndVars */ -}}
{{example_html $ $tname -}}
{{implements_html $ $tname -}}
{{methodset_html $ $tname -}}
{{- /* Functions */ -}}
{{range .Funcs}}{{$name_html := html .Name}}### <a name="{{$name_html}}">func</a> [{{$name_html}}]({{get_full_url $ .Decl}})
{{node $ .Decl | goCode}}
{{comment_md .Doc -}}
{{example_html $ .Name}}
{{- end}}{{/* Functions */ -}}
{{callgraph_html $ "" .Name}}
{{- /* Methods */ -}}
{{range .Methods}}{{$name_html := html .Name}}### <a name="{{$tname_html}}.{{$name_html}}">func</a> ({{md .Recv}}) [{{$name_html}}]({{get_full_url $ .Decl}})
{{node $ .Decl | goCode}}
{{comment_md .Doc -}}
{{$name := printf "%s_%s" $tname .Name}}{{example_html $ $name -}}
{{callgraph_html $ .Recv .Name}}
{{- end}}{{/* Methods */ -}}
{{- end}}{{/* Types */ -}}
{{end}}
{{- /* Notes */ -}}
{{with $.Notes}}{{range $marker, $content := .}}## <a name="pkg-note-{{$marker}}">{{noteTitle $marker | html}}s
<ul style="list-style: none; padding: 0;">{{range .}}
<li><a href="{{get_full_url $ .}}">&#x261e;</a> {{html .Body}}</li>
{{end}}</ul>
{{- end}}{{end}}{{end -}}
- - -
Created: {{ current_time | print }}
Generated by [godoc2md](http://github.com/thatgerber/godoc2md)
